@import "../styles/variables.css";

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1230px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome {
  margin-bottom: 20px;
}

.button {
  padding: 8px 12px;
  margin: 10px 0;
  border: none;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.button:hover {
  background-color: #1565c0;
}

.trendingSection {
  margin-top: 30px;
}

.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.mediaList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.dark .button {
  background: linear-gradient(to right, var(--soft-blue), var(--soft-purple));
  color: black;
}

.dark .button:hover {
  background-color: #9b67e6;
}
