@import "../styles/variables.css";

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1230px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome {
  margin-bottom: 20px;
}

.trendingSection {
  margin-top: 30px;
}

.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.mediaList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.thumb {
  background-color: #999;
  height: 100px;
  transition: background 160ms ease-in-out;
  -webkit-transition: background 160ms ease-in-out;
  -moz-transition: background 160ms ease-in-out;
  -ms-transition: background 160ms ease-in-out;
  -o-transition: background 160ms ease-in-out;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.thumb:hover {
  background-color: #666;
}
