.footer {
  padding: 40px 0;
  text-align: center;
  z-index: 1;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo img {
  height: 40px;
  margin-bottom: 10px;
}

.footer-logo p {
  margin: 5px 0;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.footer-section ul li a:hover {
  color: #17a2b8;
}

.footer-section ul.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.footer-section ul.social-media li a {
  font-size: 1.5rem;
  color: #333;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.footer-section ul.social-media li a:hover {
  color: #17a2b8;
}

.footer-section form {
  display: flex;
  flex-direction: column;
}

.footer-section form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-section form input:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 5px #17a2b880;
}

.footer-section form button {
  padding: 10px;
  border: none;
  background-color: #17a2b8;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer-section form button:hover {
  background-color: #14889a;
}

body.dark-mode .footer-link {
  color: white;
}

body.dark-mode .social-media li a {
  color: white;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .footer-section {
    flex: 100%;
    min-width: 100%;
  }

  .footer-section h3 {
    font-size: 1.2rem;
  }

  .footer-section ul li {
    margin-bottom: 5px;
  }

  .footer-section ul.social-media li {
    margin-right: 5px;
  }

  .footer-section form input,
  .footer-section form button {
    width: 100%;
  }
}
