.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.notFoundTitle {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.notFoundMessage {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.notFoundLink {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 2px solid currentColor;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.notFoundLink:hover {
  background-color: currentColor;
  color: #fff !important;
}

.bgDark .notFoundLink:hover {
  background-color: #fff !important;
  color: #121212 !important;
}

.bgLight .notFoundLink:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.bgDark {
  background-color: #121212 !important;
}

.bgLight {
  background-color: #f8f9fa !important;
}

.textWhite {
  color: #e0e0e0 !important;
}

.textDark {
  color: #000 !important;
}
